---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">
      <!--MAIN Content-->
      <div class="col-md-9">
        <div id="page-main">
          <section id="members">
            <header>
              <h1>Program Committee</h1>
            </header>
            <section id="program-chairs">
              <header>
                <h2 class="no-divider">Program chair</h2>
              </header>
              <div class="row">
                <div class="col-md-6">
                  {% include author-block-no-padding.html link="https://gramoli.redbellyblockchain.io/web/php/"
                  name="Sara Tucci-Piergiovanni" org="CEA-List Université Paris-Saclay" %}
                </div>
              </div>
            </section>
            <!-- /#program-chairs -->
         </section>
          <!-- /#members -->
        </div>
        <!-- /#page-main -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- end Content -->
