<!-- Footer -->
<footer id="page-footer">
  <section id="footer-top">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-social">
          <!--<figure>Follow us:</figure>-->
          <div class="icons">
            <!--<a href="https://twitter.com/ACMSoCC2016"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/socc2016"><i class="fa fa-facebook"></i></a> -->
          </div><!-- /.icons -->
        </div><!-- /.social -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-top -->

  <section id="footer-bottom">
    <div class="container">
      <div class="footer-inner">
        <div class="copyright" style="text-align: right;">
          <div style="min-width:300px; width:26%;margin-left: auto; text-align: left;">Sponsors:</div>
          <a class="footer-col" href="http://expolab.org/">
            <img src="assets/img21/expolab-icon.png" alt="ExpoLab" style="margin-left:10px; min-width:150px; width:13%;">
          </a>
          <a class="footer-col" href="https://www.ucdavis.edu/">
            <img src="assets/img21/ucdavis.svg" alt="UCDavis" style="margin-left:10px;min-width:150px; width:13%;">
          </a>
        </div><!-- /.copyright -->
      </div><!-- /.footer-inner -->
    </div><!-- /.container -->
  </section><!-- /#footer-bottom -->

</footer>
<!-- end Footer -->