---
layout: default
---

{% include slider.html %}

<!-- Content -->
<div class="block">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <section class="events small" id="events-small">
          <header>
            <h2>Links</h2>
          </header>
          <div class="section-content">
            <ul class="list-links">
              <li><h4><a href="#univsponsors">University sponsors</a></h4></li>
              <li><h4><a href="#goldsponsors">Gold sponsors</a></h4></li>
              <!-- <li><h4><a href="#bronzesponsors">Bronze sponsors</a></h4></li> -->
              <li><h4><a href="#pubpartners">Publicity Partners</a></h4></li>
            </ul>
          </div><!-- /.section-content -->
        </section><!-- /.events-small -->
      </div><!-- /.col-md-3 -->

      <div class="col-md-6">
        <section id="main-content">
          <div class="section-content">
            <header><h2>Our sponsors</h2></header>
            <a id="goldsponsors"><h2>Gold sponsors</h2></a>
              {% include gold-sponsors.html %}
            <br>
            <a id="univsponsors"><h2>University sponsors</h2></a>
              {% include usc-sponsors.html %}
            <br>
            <a id="pubpartners"><h2>Publicity Partners</h2></a>
              {% include publicity-partners.html %}
            <br>
            <!-- <br>
            <a id="silversponsors"><h2>Silver sponsors</h2></a>
              {% include silver-sponsors.html %}
            <br>
            <br>
            <a id="bronzesponsors"><h2>Bronze sponsors</h2></a>
              {% include bronze-sponsors.html %}
            <br> -->
            <!-- <br>
            <a id="scholarshipsponsors"><h2>Student scholarship sponsors</h2></a>
              {% include student-support.html %}
            <br> -->

          </div><!-- /.section-content -->
        </section><!-- /.main-content -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
<!-- end Content -->
